.git
.idea
.DS_Store

node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml

client-display/node_modules
client-display/dist
client-display/.vite

client-admin/node_modules
client-admin/dist
client-admin/.vite

server/node_modules
server/coverage

data
.env
